/* BODY STYLES */
body {
	margin: 0px;
	margin-top: -20px;
	font-size: 20px;
}
h1,
h2,
h3 {
	font-family: 'Itim', sans-serif;
	text-shadow: 3px 3px 5px #000;
}
h1 {
	font-size: 6rem;
}
h2 {
	font-size: 2rem;
}
p {
	font-family: sans-serif;
}

button {
	background-color: coral;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #666;
	color: cornsilk;
	padding: 10px;
}
button:hover {
	background-color:rgb(10, 197, 150);
	transition-duration: 0.5s;
}
a {
	text-decoration: none;
	font-size: 1.5rem;
	color: cornsilk;
}
/* HERO SECTION */
.hero {
	background-image: url('../images/easterbunny.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 90%;
	height: 100vh;
}
.text-content {
	float: right;
	margin-right: 10%;
	margin-left: 55%;
	margin-top: 0%;
	opacity: 100%;
}
.text-content p,
.text-content h2,
.text-content h1 {
	color: cornsilk;
}
.text-content p {
	font-style: italic;
	text-shadow: 3px 3px 5px #000;
}


/* Generic Level CSS */
.egg {
	position: absolute;
	cursor: pointer;
	/*background-color: blue;*/
	width: 50px;
	height: 50px;
}

.egg.found {
	background-image: url('https://static.wikia.nocookie.net/egg-inc/images/2/28/Egg_easter.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.level-title {
	text-align: center;
	color:indianred;
	text-shadow: 3px 3px 5px #dddddd;
	margin-top: 0px;
}

.featherlight.egg-popup .featherlight-content {
	background: transparent;
}