h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0px;
    margin-top: -20px;
}
button {
    background-color: cornflowerblue;
    color: cornsilk;
    padding: 15, 10;
}
.hero {
    background-image: url('../images/easterbunny.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.text-content {
    float: right;
}

.level-title {
    text-align: center;
}


#peaceful-pond {
    background: url('../images/peacefulpond.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}